
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Account/_AccountLayout.cshtml";

}

<div class="content col-md-10">
    <div class="schedule whiteSection">
        <div class="day">
            <div class="day__name">Monday</div>
            <ul class="day__lessons">

                <li class="day__lesson">
                    <span class="subject__name">TW</span>
                    <span class="subject__teacher">I. Antohi</span>
                    <span class="subject__type">Course</span>
                    <span class="subject__time">10:30</span>
                </li>

                <li class="day__lesson">
                    <span class="subject__name">AC</span>
                    <span class="subject__teacher">A. Secrieru</span>
                    <span class="subject__type">Laboratory</span>
                    <span class="subject__time">10:30</span>
                </li>

                <li class="day__lesson">
                    <span class="subject__name">PPE</span>
                    <span class="subject__teacher">S. Cojocaru</span>
                    <span class="subject__type">Laboratory</span>
                    <span class="subject__time">10:30</span>
                </li>

                <li class="day__lesson">
                    <span class="subject__name">TW</span>
                    <span class="subject__teacher">I. Antohi</span>
                    <span class="subject__type">Course</span>
                    <span class="subject__time">10:30</span>
                </li>

            </ul>
        </div>

        <div class="day">
            <div class="day__name">Tuesday</div>
            <ul class="day__lessons">

                <li class="day__lesson">
                    <span class="subject__name">TW</span>
                    <span class="subject__teacher">I. Antohi</span>
                    <span class="subject__type">Course</span>
                    <span class="subject__time">10:30</span>
                </li>

                <li class="day__lesson">
                    <span class="subject__name">AC</span>
                    <span class="subject__teacher">A. Secrieru</span>
                    <span class="subject__type">Laboratory</span>
                    <span class="subject__time">10:30</span>
                </li>

                <li class="day__lesson">
                    <span class="subject__name">PPE</span>
                    <span class="subject__teacher">S. Cojocaru</span>
                    <span class="subject__type">Laboratory</span>
                    <span class="subject__time">10:30</span>
                </li>

            </ul>
        </div>

        <div class="day">
            <div class="day__name">Wednesday</div>
            <ul class="day__lessons">

                <li class="day__lesson">
                    <span class="subject__name">TW</span>
                    <span class="subject__teacher">I. Antohi</span>
                    <span class="subject__type">Course</span>
                    <span class="subject__time">10:30</span>
                </li>

                <li class="day__lesson">
                    <span class="subject__name">AC</span>
                    <span class="subject__teacher">A. Secrieru</span>
                    <span class="subject__type">Laboratory</span>
                    <span class="subject__time">10:30</span>
                </li>

                <li class="day__lesson">
                    <span class="subject__name">PPE</span>
                    <span class="subject__teacher">S. Cojocaru</span>
                    <span class="subject__type">Laboratory</span>
                    <span class="subject__time">10:30</span>
                </li>

                <li class="day__lesson">
                    <span class="subject__name">TW</span>
                    <span class="subject__teacher">I. Antohi</span>
                    <span class="subject__type">Course</span>
                    <span class="subject__time">10:30</span>
                </li>

            </ul>
        </div>

        <div class="day">
            <div class="day__name">Thursday</div>
            <ul class="day__lessons">

                <li class="day__lesson">
                    <span class="subject__name">PPE</span>
                    <span class="subject__teacher">S. Cojocaru</span>
                    <span class="subject__type">Laboratory</span>
                    <span class="subject__time">10:30</span>
                </li>

                <li class="day__lesson">
                    <span class="subject__name">TW</span>
                    <span class="subject__teacher">I. Antohi</span>
                    <span class="subject__type">Course</span>
                    <span class="subject__time">10:30</span>
                </li>

            </ul>
        </div>

        <div class="day">
            <div class="day__name">Friday</div>
            <ul class="day__lessons">

                <li class="day__lesson">
                    <span class="subject__name">TW</span>
                    <span class="subject__teacher">I. Antohi</span>
                    <span class="subject__type">Course</span>
                    <span class="subject__time">10:30</span>
                </li>

                <li class="day__lesson">
                    <span class="subject__name">AC</span>
                    <span class="subject__teacher">A. Secrieru</span>
                    <span class="subject__type">Laboratory</span>
                    <span class="subject__time">10:30</span>
                </li>

                <li class="day__lesson">
                    <span class="subject__name">PPE</span>
                    <span class="subject__teacher">S. Cojocaru</span>
                    <span class="subject__type">Laboratory</span>
                    <span class="subject__time">10:30</span>
                </li>

                <li class="day__lesson">
                    <span class="subject__name">TW</span>
                    <span class="subject__teacher">I. Antohi</span>
                    <span class="subject__type">Course</span>
                    <span class="subject__time">10:30</span>
                </li>

            </ul>
        </div>



    </div>
    <div class="groups-list whiteSection">
        <ul class="groups-list__list">
            <li class="groups-list__item active"><a href="#">TI-181</a></li>
            <li class="groups-list__item"><a href="#">TI-182</a></li>
            <li class="groups-list__item"><a href="#">TI-183</a></li>
            <li class="groups-list__item"><a href="#">TI-184</a></li>
        </ul>
    </div>
</div>